include _config.jade

+html5
  +head('Lung & Heart | Centro Médico Especializado | Enfermedades Cardio - Pulmonares', 'Palabras clave', 'Descripción')
  
  body(ng-app="dw4")
    
    
    
    
    section#intro
      .container.middle
          .c12: .container.logo
            .c4.o4.g: h1: img(src="app/img/lung-heart.svg", alt="Lung & Heart").fluid
        
          .c12: .container.entrar
            .c4.o4.tac
              a(href="#inicio", du-smooth-scroll).tac
                .icon: .fa.fa-angle-down
                .text ENTRAR
    
    
  
    .topbar(sticky)
      .container
        .c4.ct12.cm12: a(href="#inicio", du-smooth-scroll).logo: img(src="app/img/lung-heart-logo.svg", alt="Lung & Heart")
        .c8.ct12.cm12
          +menu
    
    
    section.inner#inicio
      .bg1
      .bg2
      .bg3
      .container.middle
        .c12
          .container.sobre.tac
            .c4.o4: img(src="app/img/lung-heart-logo.svg", alt="Lung & Heart").fluid
            .c8.o2
              p Centro Médico Especializado líder en el manejo del paciente con enfermedades <strong>Cardiacas</strong> y <strong>Respiratorias</strong>.
          .container.conoce.tac
            .c5.o1.cm10.g: +linkTo('Conóce nuestras especialidades', '#especialidades')
            .c5.g.cm10.om1: +linkTo('Identifica a nuestros médicos', '#nuestros-medicos')
    
    .banner.banner-a
      .banner-logo
    
    
    section.inner#especialidades
      .container.fluid.middle: .c12
        .container
          .c10.o1.tac: h2 Especialidades
          .c10.o1: .container.tac.especs
            .c.cm12.g.espec
              .icones: img(src="app/img/icon-neumo.svg", alt="Neumología")
              .text Neumología
              p Es la especialidad médica encargada del estudio, diagnóstico, tratamiento y prevención de enfermedades de las enfermedades del aparato respiratorio.
            .c.cm12.g.espec
              .icones: img(src="app/img/icon-cardio.svg", alt="Cardiología")
              .text Cardiología
              p Es la especialidad médica encargada del estudio, diagnóstico, tratamiento y prevención de las enfermedades del corazón y del aparato circulatorio.
              
            .c.cm12.g.espec
              .icones: img(src="app/img/icon-angio.svg", alt="Angiología")
              .text Angiología
              p Es la especialidad médica encargada del diagnóstico y tratamiento de las enfermedades de los vasos sanguíneos (arterias y venas).
            //.c3.espec
              .icones: img(src="app/img/icon-bronco.svg", alt="Broncología")
              .text Broncología
        .container.fluid.especs_second
          .c6.cm12.cirugia(backstretch backstretch-images="['app/img/cirugia.jpg', 'app/img/cirugia2.jpg', 'app/img/cirugia3.jpg']" backstretch-duration="3000" backstretch-fade="1")
            h3 CIRUGÍA
            ul
              li 
                .text Vascular
                p Se trata sobre la intervención directa sobre arterias y venas que permiten reparar arterias obstruidas, dilatadas o dañadas por traumatismos o defectos de nacimiento.
              li
                .text Torácica
                p Especialidad la cual por tratamiento quirúrgico resuelve problemas que afectan al tórax. Las enfermedades que resuelve son: cirugía oncológica del pulmón, tumores en la parte central de los pulmones, pared torácica y pleura, patología traqueal, traumatismos torácicos, enfermedades de la pleura, del sistema nervioso autónomo  y del conducto torácico.
              li
                .text Cardiaca
                p Especialidad quirúrgica que se ocupa de tratar complicaciones del corazón o grandes vasos como: Cardiopatía Isquémica, Malformaciones cardiacas, Enfermedades Valvulares del Corazón Incluyendo el trasplante cardiaco.
          .c6.cm12.pediatria(backstretch backstretch-images="['app/img/pediatria.jpg', 'app/img/pediatria2.jpg', 'app/img/pediatria3.jpg']" backstretch-duration="3000" backstretch-fade="1")
            h3 PEDIATRÍA
            ul
              li 
                .text Cardiopediatría
                p Es la serie de acciones de prevención y diagnóstico, tratamiento y rehabilitación de los problemas de cardiopatías congénitas, malformaciones cardiacas y las alteraciones cardiológicas del corazón en el paciente pediátrico.
              li
                .text Neumopediatría
                p Subespecialidad de la pediatría que se dedica al diagnóstico y tratamiento de los problemas respiratorios en niños y jóvenes.
              li: +linkTo('Conóce a nuestros médicos', '#nuestros-medicos')
          
          .c6.cm12.cirugia(backstretch backstretch-images="['app/img/estudios.jpg', 'app/img/estudios.jpg', 'app/img/estudios.jpg']" backstretch-duration="3000" backstretch-fade="1")
            h3 ESTUDIOS
            ul
              li 
                .text Broncoscopia
                p Es un examen para visualizar las vías aéreas (Interior del pulmón y vías respiratorias) y diagnosticar enfermedades pulmonares. Este examen se puede utilizar igualmente durante el tratamiento de algunas afecciones pulmonares.
              li
                .text Alteraciones del sueño
                p Estudios enfocados para la detección y tratamiento de algún trastorno del sueño, los estudios para identificar trastornos del sueño consisten en medir la calidad y cantidad del sueño, así como la respuesta del cuerpo ante las alteraciones del sueño.
              li
                .text Holter
                p Es una prueba de diagnóstico cardiológico que consiste en la monitorización ambulatoria del registro electrocardiográfico por un tiempo prolongado de una persona que esta en movimiento.
          
              li
                .text Mapa
                p Es una prueba que permite registrar la presión arterial del paciente durante un periodo de tiempo prefijado.
              li
                .text Electrocardiogramas
                p Es una prueba que registra la actividad eléctrica del corazón que se produce en cada latido cardiaco de una persona que esta en reposo.
          .c6.cm12.pediatria(backstretch backstretch-images="['app/img/procedimientos.jpg', 'app/img/procedimientos2.jpg', 'app/img/procedimientos3.jpg']" backstretch-duration="3000" backstretch-fade="1")
            h3 PROCEDIMIENTOS ADICIONALES
            ul
              li 
                .text Tabaquismo
                p Hoy en día el tabaquismo es responsable de muertes, afecciones respiratorias y tumores. Tenemos la solución mediante la participación de diversas especialidades.
              li
                .text Hiperhidrósis
                p Es el exceso de sudoración en diversas partes del cuerpo (Axilas, manos, pies y rostro) Lo solucionamos por medio de una intervención ambulatoria y sencilla.
              li 
                .text Trastornos del sueño
                p Te ayudamos a dormir mejor, que tengas un sueño reparador eliminando afectaciones del sueño que merman la calidad de vida cotidiana, social, familiar y laboral.
              li: +linkTo('Agende su cita ahora', '#agende-su-cita')
              li: +linkTo('¿Tiene dudas? Contáctenos', '#contacto')
                
          
          

    
    section.inner2#nuestros-medicos
      .container.fluid: .c12
        .container: .c10.o1.tac: h2 Nuestros médicos
        .container
          .c10.o1.cm12.om0: .container
            +card('app/img/dr-miguel-martinez-arias.jpg', 'Dr. Miguel Martínez Arias', 'Cirugía de Tórax')
              ul
                li Hiperidrosis
                li Trauma torácico
                li Cirugía por mínima invasión
                li Cáncer pulmonar
                li Cirugía de tráquea
                li Estenosis traqueal
                li Tumores de mediastino
            +card('app/img/dr.jpg', 'Dra. Silvia Cid Juárez', 'Neumóloga y Pruebas de función Pulmonar')
              ul
                li Neumonía
                li Asma
                li Enfisema Pulmonar
                li Dificultad Respiratoria
                li Tos
                li Fisiología Pulmonar
                li Pruebas de Funciones Respiratoria

            +card('app/img/dr.jpg', 'Dra. Esmeralda Aspuru', 'Neumología y Broncoscopia Intervencionista')
              ul
                li Neumonía                li Asma                li Enfisema Pulmonar                li Dificultad Respiratoria •Tos                li Broncoscopia                li Retiro de Cuerpos Extraños en Tráquea y Bronquios de Urgencia                li Estudios Diagnósticos Pulmonares            +card('app/img/dr.jpg', 'Dr. Víctor Mendoza', 'Neumología')
              ul
                li Neumonía
                li Asma
                li Enfisema Pulmonar
                li Dificultad Respiratoria
                li Tos
                li Medicina Critica y Terapia Intensiva
                li Manejo de Paciente Critico
                li Enfermedad Pulmonar Obstructiva Crónica
            +card('app/img/dr.jpg', 'Dr. Jhonatan Castillo', 'Neumología')
              ul 
                li Neumonía
                li Asma
                li Enfisema Pulmonar
                li Dificultad Respiratoria
                li Tos
                li Trastornos del Sueño
                li Estudio Diagnóstico Para Alteraciones del Sueño
                li Valoraciones Pulmonares

            //+card('app/img/dr.jpg', 'Dr. Omar Baños', 'Rehabilitador Pulmonar')
            //+card('app/img/dr.jpg', 'Dra. Teresa Leal', 'Neumopediatra')
            +card('app/img/dr.jpg', 'Dr. Roberto Teodoro de Jesús', 'Cardiopediatra')
              ul 
                li Cardiopatías Congénitas
                li Cardiopatías Adquiridas

            +card('app/img/dr-miguel-corona-perezgrovas.jpg', 'Dr. Miguel Corona Perezgrovas', 'Cirujano Cardiotorácico y Cardiovascular')
              ul
                li Cirugía Cardiovascular
                li Cirugía de Corazón para corrección de enfermedades de nacimiento y en niños
                li Cirugía de Corazón para pacientes infartados
                li Cirugía de Corazón para válvulas cardiacas

            +card('app/img/dr-alejandro-fernandez.jpg', 'Dr. Alejandro Fernández', 'Cardiología Intervencionista')
              ul
                li Cardiología
                li Valoración Cardiaca
                li Valoración Pre-Operatoria
                li Estudios de Función Cardiaca (Holter, MAPA y Electrocardiograma)
                li Colocación de Marcapasos Transitorio y Definitivo
                li Cateterismo Cardiaco
                li Hipertensión Arterial
                li Arritmias

            //+card('app/img/dr.jpg', 'Dr. Daniel Verón', 'Cardiología')
            +card('app/img/dr.jpg', 'Dr. Sergio Benites Palacio', 'Angiología, Cirugía Vascular y Endovascular')
            //+card('app/img/dr.jpg', 'Dr. José Manuel Lorenzo Silva', 'Cirugía de Tórax')
            //+card('app/img/dr.jpg', 'Dr. Enrique Olaya López', 'Neumología, Medicina del Tórax y Medicina Interna')
            
      
      
    section.inner#nosotros  
      .container.fluid.middle: .c12
        .container: .c10.o1.tac: h2 Nosotros 
        
        .container
          .c2.o5: img(src="app/img/lung-heart-imago.svg", alt="Lung & Heart").fluid
        .container.info
          .c5.o1.cm10.o1.g
            .weare Somos un Centro Médico Especializado en Enfermedades Cardiológicas y Pulmonares
          .c5.cm10.o1.aboutus
            p Todos nuestros integrantes médicos cuenta con Alta Especialidad para lograr la mejor atención de estos padecimientos, procurando la calidad de vida y funcionalidad de las actividades cotidianas de nuestros pacientes.
            p Nuestra labor consiste en <strong>Diagnosticar</strong> y <strong>tratar</strong> enfermedades por medio de fármacos o quirúrgicamente, de acuerdo a las necesidades de cada paciente.
    
    section#agende-su-cita   
      .container
        .c10.o1.tac
          h2 Agende su cita 
      .container(ng-controller="FormCtrl"): .c6.o3.ct10.ot1.cm10.om1
        form.agendar( ng-submit="submitForm($event)")
          input(type="hidden" name="_to" value="contacto@lungandheart.com.mx")
          //input(type="hidden" name="_from" ng-model="email")
          input(type="hidden" name="_subject" value="Cita agendada")
          input(type="text" name="Nombre del paciente" placeholder="Nombre" required).fluid
          .container
            .c.cm12: input(type="mail" name="_from" placeholder="Correo electrónico" required).fluid
            .c.cm12: input(type="text" name="Telefono" placeholder="Número telefónico").fluid
          
          .container
            .c.cm12: datepicker(date-format="MMMM d, y", date-typer="true"): input(type="text" ng-model="fecha" name="Fecha" placeholder="Fecha" required).fluid
            .c.cm12: input(type="text" name="Preferencia" placeholder="Preferencia de horario").fluid
          input(type="text" name="Asunto" placeholder="Asunto de su cita" required).fluid
          .container
            .c(ng-show="sent")
              .note La solicitud de cita ha sido enviada. <br>Le confirmaremos la fecha de su cita y los horarios disponibles a su dirección de correo electrónico.
            .c.tar(ng-hide="sent")
              button(type="submit").link
                .icon.small: .fa.fa-angle-right
                .text Agendar cita
      
    section.inner#contacto
      .container
        .container.fluid: .c12
          .container: .c10.o1.tac: h2 Contacto
          
          .container.fluid
            .c6.cm10.om1.map
              | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.2815637765207!2d-99.28640458448884!3d19.356957348109617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2073670407779%3A0x5d310566fd591cd8!2sAv.+Vasco+de+Quiroga+4299%2C+Contadero%2C+05370+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1487812588224" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            .c6.cm12.g
              address <strong>Torre de consultorios Infinito</strong> <span>Piso 11, Consultorio 1102</span> Av. Prol. Vasco de Quiroga, No. 4299, Col. Lomas de Santa Fe, Cuajumalpa, Ciudad de México, Frente a Centro Médico ABC Santa Fe.
              div.consulta
                p: strong Nuestros horarios
                p Nuestros horario de atención es Lunes a Viernes de 09:00 a 19:00 hrs. y Sábado de 09:00 a 13:00 hrs.
                .tel Teléfonos:
                p
                  a(href="tel:5558132874") (55) 58 13 - 28 74
                  |  / 
                  a(href="tel:5521632004") (55) 21 63 - 20 04
  
    +scripts
